:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.board {
  width: 640px;
  height: 640px;
  background-color: #006643;
  border: 16px solid #000000;
  box-sizing: content-box;
}

.col {
  display: flex;
}

.row {
  width: 80px;
  height: 80px;
  border: 1px solid #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cell {
  width: 65px;
  height: 65px;
  cursor: pointer;
}

.black-piece {
  border-radius: 100%;
  background-color: #000000;
}
.white-piece {
  border-radius: 100%;
  background-color: #ffffff;
}

#order {
  font-size: 2rem;
  margin-top: 2rem;
}

.pass {
  margin-top: 1rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
